* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

body {
    text-align: center;
    background: hsl(200, 43%, 3%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

label {
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    border-radius: 3px;
}

input {
    font-size: 1em;
}

input[type="submit"] {
    margin: 5px 0;
    padding: 10px;
}

.pfeil {
    rotate: 60deg;
    height: 10vh;
    margin: 10px;
}

#time-left {
    color:hsl(0, 0%, 75%);
}

.bouncy {
    animation:bouncy 5s infinite linear;
    position: relative;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, hsl(283, 82%, 45%), hsl(126, 100%, 45%));
    position: absolute;
    top: -5px;
    left:-5px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.grey_11 {
    color: hsl(0, 0%, 88%);
    font-size: 1.1em;
    font-weight: 300;
}

.thankyou {
    width: auto;
    max-height: 50vh;
}

.roll-in-blurred-top {
    -webkit-animation: roll-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.galeriebutton {
    cursor: pointer;
    padding: 10px;
    background-color: hsl(0, 0%, 75%);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 3px;
}

.galeriebutton a {
    color: hsl(0,0%,0%);
}

progress {
    margin-top: 20px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    width: 250px;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 0%, 0.25)),
    linear-gradient(45deg, hsl(283, 82%, 45%), hsl(126, 100%, 45%));
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
@keyframes bouncy {
    0%{ top:0em }
    40%{ top:0em }
    43%{ top:-0.9em }
    46%{ top:0em }
    48%{ top:-0.4em }
    50%{ top:0em }
    100%{ top:0em; }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@-webkit-keyframes roll-in-blurred-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-720deg);
        transform: translateY(-800px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes roll-in-blurred-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-720deg);
        transform: translateY(-800px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}    
