body {
    margin: 0 auto;background: #0F0F0F;
}

#slideshow {
  height: 95vh;
  text-align: center;
}

#slideshow img {
  margin: 2.5vh 0 2.5vh 0;
  max-width: 100%;
  max-height: 100%;
  filter: blur(5px);
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 9px 2px rgba(255,255,255,1);
  box-shadow: 0px 0px 9px 2px hsl(283, 82%, 45%);
  border: none;
}

#slideshow img.loaded {
  filter: none;
}
